body .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #faf4f2;
}

body .section1 {
  background-image: url(../images/background-image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 800px;
  border-radius: 0px 0px 200px 200px;
  text-align: center;
}

body .section1 h1 {
  color: #fff;
  font-size: 81px;
  font-weight: 400;
  max-width: 560px;
  width: 100%;
}

body .section1 p {
  color: #fff;
  font-size: 18px;
  font-weight: 400px;
  max-width: 526px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  line-height: 28px;
}

body .section1 button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  max-width: 200px;
  width: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  line-height: 28px;
  border-radius: 25px;
  background-color: #e76f51;
  padding: 15px 50px;
  border: none;
}

body .section1 button:hover {
  color: #e76f51;
  background-color: #fff;
  border: 4px solid #e76f51;
}

body .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 400px;
}

body .section2 h3 {
  color: #3b3735;
  font-size: 50px;
  font-weight: bold;
  max-width: 450px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

body .section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  margin: 0 auto;
}

body .section3 .block {
  background-color: #fff;
  width: 220px;
  height: 180px;
  border-radius: 25px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body .section3 .block:nth-child(odd):hover {
  border: 3px solid #e76f51;
}

body .section3 .block:nth-child(even):hover {
  border: 3px solid #3b3735;
}

body .section3 .block img {
  width: 70px;
  height: 70px;
}

body .section3 .block h4 {
  color: #3b3735;
  font-size: 17px;
  font-weight: 400;
  max-width: 400;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 28px;
}

body .section3 .block h4:after {
  content: ' ';
  width: 50px;
  height: 3px;
  background-color: #e76f51;
  display: block;
  margin: 5px 90px;
}

body .section3 .block p {
  color: #3b3735;
  font-size: 14px;
  font-weight: 400;
  max-width: 220px;
  width: 100%;
  line-height: 26px;
}

@media (max-width: 1400px) {
  body .section3 {
    margin-bottom: 50px;
  }
}

@media (max-width: 1150px) {
  body .section3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 750px;
    margin-bottom: 50px;
  }
  body .section3 .block:nth-child(3) {
    margin-top: 40px;
  }
  body .section3 .block:nth-child(4) {
    margin-top: 40px;
  }
}

@media (max-width: 800px) {
  body .section1 {
    border-radius: 0px 0px 100px 100px;
  }
  body .section3 {
    max-width: 650px;
  }
}

@media (max-width: 680px) {
  body .section3 {
    max-width: 600px;
  }
}

@media (max-width: 620px) {
  body .section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .section3 .block:nth-child(2) {
    margin-top: 40px;
  }
}

@media (max-width: 320px) {
  body .section1 p {
    width: 300px;
  }
  body .section2 h3 {
    width: 300px;
  }
}
/*# sourceMappingURL=global.css.map */