// colors
$color01: #faf4f2;
$color02: #fff;
$color03: #e76f51;
$color04: #3b3735;

//size
$size01: 100%;
$size02: 0px;
$size03: 800px;
$size04: 200px;
$size05: 81px;
$size06: 560px;
$size07: 18px;
$size08: 526px;
$size09: 28px;
$size10: 30px;
$size11: 40px;
$size12: 25px;
$size13: 15px;
$size14: 50px;
$size15: 400px;
$size16: 50px;
$size17: 45px;
$size18: 220px;
$size19: 180px;
$size20: 70px;
$size21: 17px;
$size22: 10px;
$size23: 12px;
$size24: 26px;
$size25: 400;
$size26: 100px;
$size27: 450px;











